*{
  box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
  padding-left: 20px;
  padding-right: 20px
}


.images-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  max-width: 850px;
  grid-gap: 15px;
  margin: auto;
}


.search-area {
  text-align: center;
  margin-bottom: 1.5em;
  margin-top: 2.5em;
}

.search-area input{
  height: 45px;
  width: 35%;
  border: 2px solid lightgrey;
  padding-left: 1.25%;
}

.search-area input:hover {
    transition: border-color 0.25s ease-in-out;
    border: 2px solid grey;
}
