*{
  box-sizing: border-box;
}


.containner {
  max-width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  max-width: 850px;
  grid-gap: 15px;
  margin: auto;
}

.item {
  height: auto;
  width: 100%;
}






.input-wrapper {
  text-align: center;
  margin-bottom: 1.5em;
}


.search-area {
  margin-top: 1.2%;
}

.search-area input{
  height: 45px;
  width: 35%;
  border: 2px solid lightgrey;
  padding-left: 1.25%;

}
